@model Requerimientos_ST.Models.RequerimientoModelo
@{
    ViewBag.Title = "Index";
    
}
<div>
    <div class="card" style="margin-left:30px;margin-right:30px;margin-top:20px">
        <div class="card-header bg-primary" style="color:white">
            <strong>
                DATOS REQUERIMIENTO
            </strong>
        </div>
        <div class="card-body">
            @using (Ajax.BeginForm("InsertarRequerimiento", "Principal", Model, new AjaxOptions
            {
                LoadingElementId = "progress",
                HttpMethod = "Post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "IdDivResultado",
            }, new { id ="idFormularioRequerimiento"+ Model.Id }))
            {
                <div class="row justify-content-md-center">
                    @Html.HiddenFor(x => x.Id)
                    <div class="col-sm-4">
                        <div class="form-group col-margin" style="text-align:center">
                            @Html.LabelFor(m => m.Area, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Area, Requerimientos_ST.Helpers.Funciones.GetActividadesList(), "Seleccione", new { @class = "form-control", @style = "width:100%;" })

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group col-margin" style="text-align:center">
                            @Html.LabelFor(m => m.Aplicativo, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Aplicativo, Requerimientos_ST.Helpers.Funciones.GetAplicativosList(), "Seleccione", new { @class = "form-control", @style = "width:100%;" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group col-margin" style="text-align:center">
                            @Html.LabelFor(m => m.Prioridad, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Prioridad, Requerimientos_ST.Helpers.Funciones.GetPrioridadesList(), "Seleccione", new { @class = "form-control",  @style = "width:100%;" })
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-sm-4">
                        <div class="form-group col-margin" style="text-align:center">
                            @Html.LabelFor(m => m.Alcance, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Alcance, new { placeholder = "Alcance", @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group col-margin" style="text-align:center">
                            @Html.LabelFor(m => m.Desarrollador, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.Desarrollador, Requerimientos_ST.Helpers.Funciones.GetDesarrolladoresList(), "Seleccione", new { @class = "form-control", @style = "width:100%;" })

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group col-margin" style="text-align:center">
                            @Html.LabelFor(m => m.FechaSolicitud, new { @class = "control-label" })                     
                            @Html.TextBoxFor(m => m.FechaSolicitud, "", new { placeholder = "Fecha solicitud", @class = "form-control datepicker" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group col-margin" style="text-align:center">
                            @Html.LabelFor(m => m.FechaDesarrollo, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.FechaDesarrollo, "", new { placeholder = "Fecha desarrollo", @class = "form-control datepicker"  })
                        </div>
                    </div>
                    @if (Model.Id > 0)
                    {
                        <div class="col-sm-4">
                            <div class="form-group col-margin" style="text-align:center">
                                @Html.LabelFor(m => m.NuevaFechaDesarrollo, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.NuevaFechaDesarrollo , "", new { placeholder = "Nueva fecha desarrollo", @class = "form-control datepicker" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group col-margin" style="text-align:center">
                                @Html.LabelFor(m => m.MotivoCambio, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.MotivoCambio, new { placeholder = "MotivoCambio", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group col-margin" style="text-align:center">
                                @Html.LabelFor(m => m.Justificacion, new { @class = "control-label" })                                
                                @Html.TextAreaFor(m => m.Justificacion, new {@class = "form-control" })                                 
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    @if (Model.Id == 0)
                    {
                    <div class="col-sm-4">
                        <div class="form-actions" style="margin-bottom:15px;margin-top:15px;padding-top:15px">
                            <input type="submit" name="btnAccion" id="BTN1_@Model.Id" value="Insertar" style="width:100%" class="btn btn-primary text-white" />
                        </div>
                    </div>
                    }
                    <div class="col-sm-4">
                        <div class="form-actions" style="margin-bottom:15px;margin-top:15px;padding-top:15px">
                            <input type="submit" name="btnAccion" id="BTN2_@Model.Id" value="Buscar" style="width:100%" class="btn btn-primary text-white" />
                        </div>
                    </div>
                  @if(Model.Id > 0)
                  { 
                      <div class="col-sm-4">
                          <div class="form-actions" style="margin-bottom:15px;margin-top:15px;padding-top:15px">
                                <input type="submit" name="btnAccion" id="BTN3_@Model.Id" value="Editar" style="width:100%" from="'idFormularioRequerimiento'+@Model.Id" class="btn btn-primary text-white" />
                          </div>
                      </div>
                    }
                </div>

            }

        </div>
    </div>
    <div id="progress" style="background-image:url(@Url.Content("~/Imagenes/cargando.gif"));width:64px;height:64px;margin-left:auto;margin-right:auto;text-align:center;display:table-cell;vertical-align:middle; display: none;"></div>

    <div class="card border-top" style="margin-left:30px;margin-right:30px;margin-top:20px">
        <div class="card-header bg-light">Resultado de la consulta</div>
        <div class="card-body">
            <div id="IdDivResultado">

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language: 'es',
                allowInputToggle: true,
                orientation: "bottom left"
            });
        });
        
    </script>
</div>